<!-- <ion-header>
  <ion-toolbar>
    <ion-title>invoice-add-comment</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar class="my-toolbar box-shadow" >
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="8" style="margin-right: 5px; color: black">
          <h3>Add Comment</h3>
        </ion-col>
        <ion-col col-auto></ion-col>
        <ion-col size="3.5">
          <ion-button ion-button expand="block" size="large"primary (click)="Okay()" class="button-global"> Ok </ion-button>          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>

<ion-content padding>
  <ion-textarea rows="20" placeholder="Enter a comment" [(ngModel)]="comment" style="border: green; border-style: solid; border-width: thin;"></ion-textarea>
</ion-content>
