page-shift-inspection {    
    .item-input {
        font-size: xx-large;
    }
    .item-transparent {
        background-color: transparent;
    }
    .label {
        text-align: -webkit-auto;
        color: black !important;
    }
}