page-login-connection {
    .connection-label{
        text-align: center;
        margin: 20px;
    }
    .connection-label-note{
        text-align: center;
        margin: 20px;
        color: red;
    }
}
