# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
server/iRely.MobileBilling.BRL/bin/
server/iRely.MobileBilling.BRL/obj/
server/iRely.MobileBilling.Model/obj/
server/iRely.MobileBilling.WebAPI/bin/
server/iRely.MobileBilling.WebAPI/obj/
server/iRely.MobileBilling.Model/bin/
