<ion-header>
  <ion-toolbar class="my-toolbar box-shadow" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>       
  <br>
  <ion-list>
    <ion-grid padding>
      <ion-row justify-content-start>
        <ion-col size="2">
          <ion-item>
            <b>Reference</b>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <b>Description</b>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <b>Item #</b>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item style="text-align: center;">
            <ion-label><b>Quantity</b></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of data; let i=index">
        <ion-col size="2">
          <ion-item>
            <ion-label>{{item.strTransactionType}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>{{item.strTransactionReference}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label>{{item.strItemNo}} - {{item.strDescription}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item style="text-align: center;">
            <ion-label>{{item.dblQuantity}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<!-- <ion-footer padding>
  <h3 style="text-align: end; padding-right: 20px">Remains: {{(grandTotal || 0.00).toFixed(2)}}</h3>
</ion-footer> -->