page-delivery-outofgas {
    .ion-label {
        font-size: large;
    }
    .popover-ios .popover-content {
        width: 100% !important;
    }
    ion-item:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    ion-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    ion-item.item {
        background-color: #fff;
        .label {
            width: 25%;
            color: rgba(0, 0, 0, 0.6);
            font-size: 1.2em;
        }
    }
    ion-content {
        background-image: #fff
    }
    .control-disabled {
        background-color: #e0dddd !important
    }
}