page-customer-main {
    .item-ios p {
        font-size: 2.0rem;
        color: black;
    }  

    .customer-info-selected {
        // border-bottom:1px;
        // border-style:solid;
        // border-bottom-color: lightgray;
        background-color: #e2f9d9;
    }

    .customer-info {
        // border-bottom: 1px;
        // border-style: solid;
        // border-bottom-color: lightgray;
        background-color: #fff;
    }

    .customer-details-header {
        background-color: #d9eff9;
    }


    // .customer-main {
        // .alert-ios .alert-title {
        //     font-size: 24px !important;
        // }
        // .alert-ios .alert-message {
        //     font-size: 18px !important;
        // }
    // }
}
