page-customer-detail {
    .item-ios p {
        font-size: 2.0rem;
        color: black;
    }  

    .customer-info-selected {
        background-color: #e2f9d9;
    }

    .customer-info {
        background-color: #fff;
    }

    .customer-details-header {
        background-color: #d9eff9;
    }
}
