// enable / disable - for screenshot purposes only
// .scroll-content {
//      overflow-y: hidden !important;
// //     //background-color: #233645;
// }

.header .toolbar-background {
    //background-color: #233645;
    //background-color: #488aff;
    background-color: #118bd8;    
}
.header .toolbar-title {
    //color: #c5c5c5;
    color: #ffffff;
}
.header .bar-buttons {
    //color: #c5c5c5;
    color: #ffffff;
}
.header .bar-button-default-md {
    color: #ffffff;
}
.header .back-button-icon {
    color: #ffffff;
}

.header .button-menu {
    height: 45px;
    padding: 15px;
    color: #52b6f5;
    border-color: #52b6f5;
}

.alert-ios .alert-title {
    font-size: 20px !important;
}
.alert-ios .alert-message {
    font-size: 15px !important;
}

//   .ion-grid-menu {
//     min-height: 100%;
//     display: flex;
//     flex-direction: column;  
//   }

//   .ion-row-menu {
//     flex: 1;
//     display: flex;
//   }