<ion-content> 
  <ion-list>
    <button ion-item class="menu-label" (click)="openPage('SingleDashboardPage')" id="btnSingleDashboardPage">
      <ion-icon name="home"></ion-icon>
      <div item-end>Home</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('ShiftMainPage')" id="btnShiftMainPage">
      <ion-icon name="stopwatch"></ion-icon>
      <div item-end>Shift</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('OrderMainPage')" id="btnOrderMainPage">
      <ion-icon name="cart"></ion-icon>
      <div item-end>Orders</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('CustomerMainPage')" id="btnCustomerMainPage">
      <ion-icon name="person"></ion-icon>
      <div item-end>Customers</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('ViewInvoicePage')" id="btnViewInvoicePage">
      <ion-icon name="paper"></ion-icon>
      <div item-end>Invoices</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('ViewPaymentPage')" id="btnViewPaymentPage">
      <ion-icon name="cash"></ion-icon>
      <div item-end>Payments</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('ViewPdfPage')" id="btnViewPdfPage">
      <ion-icon name="document"></ion-icon>
      <div item-end>View PDF</div>
    </button>
    <button ion-item class="menu-label" (click)="openPage('ConfigurationMainPage')" id="btnConfigurationMainPage">
      <ion-icon name="build"></ion-icon>
      <div item-end>Configuration</div>
    </button>
  </ion-list>
  <!-- <ion-grid style="background-color: rgba(125, 125, 125, 0.5) !important">
    <ion-item>
      <ion-row (click)="openPage('SingleDashboardPage')" id="btnSingleDashboardPage">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-row>
      <ion-row (click)="openPage('ShiftMainPage')" id="btnShiftMainPage">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Shift</ion-label>
      </ion-row>
      <ion-row (click)="openPage('OrderMainPage')" id="btnOrderMainPage">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Order</ion-label>
      </ion-row>
      <ion-row (click)="openPage('CustomerMainPage')" id="btnCustomerMainPage">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Customer</ion-label>
      </ion-row>
      <ion-row (click)="openPage('ViewInvoicePage')" id="btnViewInvoicePage">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Invoices</ion-label>
      </ion-row>
      <ion-row (click)="openPage('ViewPaymentPage')" id="btnViewPaymentPage">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Payments</ion-label>
      </ion-row>
      <ion-row (click)="openPage('ConfigurationMainPage')" id="btnConfigurationMainPage">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Configurations</ion-label>
      </ion-row>
    </ion-item>
  </ion-grid> -->
</ion-content>